<launch>

    <arg name="wp_1" value="1,2"/>
    <arg name="wp_2" value="4,2"/>
    <arg name="wp_3" value="6,2"/>
    <arg name="wp_4" value="1,2"/>

    <node name="command_sender" pkg="gps_nav" type="can_cmd_pub.py"/>
    <node name="current_gps_pub" pkg="gps_nav" type="gps_pub.py"/>
    <node name="current_heading_pub" pkg="gps_nav" type="heading_pub.py"/>

    <node name="dest_pos_pub" pkg="gps_nav" type="get_final_dest.py">
    	<param name="wp_1" value="$(arg wp_1)"/>
	<param name="wp_2" value="$(arg wp_2)"/>
	<param name="wp_3" value="$(arg wp_3)"/>
	<param name="wp_4" value="$(arg wp_4)"/>
    </node>
    <node name="current_pos_pub" pkg="gps_nav" type="gps_pose_.py"/>

    <node name="optimizer_node" pkg="gps_nav" type="optimizer.py"/>
    <node name="move_command" pkg="gps_nav" type="moveCmd.py"/>
    <node name="Json_data" pkg="gps_nav" type="json_logger.py"/>

</launch>
