<launch>
    <param name="use_sim_time" value="false"/>
    <arg name="port_name" value="can0"/>
    <arg name="simulated_robot" value="false"/>
    <arg name="model_xacro" default="$(find scout_description)/urdf/scout_v2.xacro"/>
    <arg name="odom_topic_name" default="odom"/>
    <arg name="is_scout_mini" default="true"/>
    <arg name="pub_tf" default="false"/>
    <arg name="repeat_rate" value="50.0"/>

    <include file="$(find scout_base)/launch/scout_base.launch">
        <arg name="port_name" default="$(arg port_name)"/>
        <arg name="simulated_robot" default="$(arg simulated_robot)"/>
        <arg name="odom_topic_name" default="$(arg odom_topic_name)"/>
	<arg name="pub_tf" default="$(arg pub_tf)"/>
    </include>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml" />
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization1">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_template1.yaml" />
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node">
    <rosparam command="load" file="$(find robot_localization)/params/navsat_transform_template.yaml" />
      <remap from="/gps/fix" to="/ublox/fix"/>
      <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node>
   
    <!-- <include file="$(find robot_localization)/launch/dual_ekf_navsat_example.launch"/> -->

    <node name="base_to_gps_broadcaster" pkg="tf" type="static_transform_publisher" args="0.1 0 0.1 0 0 0 base_link gps 30"/>
    <!-- <node name="base_to_imu_broadcaster" pkg="tf" type="static_transform_publisher" args="0.1 0 0.1 0 0 0 base_link imu_link 1"/> -->

    <node name="um7_dev" pkg="um7" type="um7_driver"/>
    <include file="$(find imu_filter_madgwick)/launch/imu_filter_madgwick.launch"/>
    <node name="waypt_service" pkg="gps_nav" type="wps_service.py"/>
    <node name="move_cmd" pkg="gps_nav" type="moveCmd.py"/>
    <node name="optimizer_node" pkg="gps_nav" type="optimizer3.py" output="screen"/>
    <include file="$(find ublox_gps)/launch/ublox_device.launch"/>
    <node name="current_pos_pub" pkg="gps_nav" type="gps_pose_um7_2.py"/>
    <node name="dest_pos_pub" pkg="gps_nav" type="get_final_dest.py"/>
    <node name="data_logging" pkg="gps_nav" type="data_logger.py"/>

    <!--	   UNCOMMENT TO CONTROL SCOUT USING KEYBOARD
    <node name="teleop_keybord" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <param name="repeat_rate" value="$(arg repeat_rate)" />
    </node>
    -->

</launch>
