<launch>

    <arg name="port_name" value="can0" />
    <arg name="simulated_robot" value="false" />
    <arg name="model_xacro" default="$(find scout_description)/urdf/scout_v2.xacro" />
    <arg name="odom_topic_name" default="odom" />
    <arg name="is_scout_mini" default="true" />
    <arg name="pub_tf" default="false" />
    <arg name="repeat_rate" value="50.0" />

    <arg name="easting" value="2"/>
    <arg name="northing" value="-2"/>
    <arg name="heading" value="45"/>


    <include file="$(find scout_base)/launch/scout_base.launch">
        <arg name="port_name" default="$(arg port_name)" />
        <arg name="simulated_robot" default="$(arg simulated_robot)" />
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
	<arg name="pub_tf" default="$(arg pub_tf)" />
    </include>

    <!--include file="$(find scout_description)/launch/description.launch">
        <arg name="model_xacro" default="$(arg model_xacro)" />
    </include-->
    
    <node name="gps1_pub" pkg="gps_nav" type="gps1_pub.py"/>
    <node name="gps2_pub" pkg="gps_nav" type="gps2_pub.py"/>
    <node name="current_heading_pub" pkg="gps_nav" type="dual_heading_pub.py"/>
    <node name="current_pos_pub" pkg="gps_nav" type="gps_pose_.py"/>
    
    <node name="dest_pos_pub" pkg="gps_nav" type="get_final_dest.py">
    	<param name="wp_1" value="$(arg wp_1)"/>
	<param name="wp_2" value="$(arg wp_2)"/>
	<param name="wp_3" value="$(arg wp_3)"/>
	<param name="wp_4" value="$(arg wp_4)"/>
    </node>

    <node name="optimizer_node" pkg="gps_nav" type="optimizer.py"/>
    <node name="data_logging" pkg="gps_nav" type="data_logger.py"/>
    
    <!--	   UNCOMMENT TO CONTROL USING KEYBOARD
    <node name="teleop_keybord" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <param name="repeat_rate" value="$(arg repeat_rate)" />
    </node>
    -->
    
    <node name="move_command" pkg="gps_nav" type="moveCmd.py"/>
</launch>
